.footer {
   padding-bottom: 50px;
}
.footer__container {
   max-width: 1290px;
}
.footer__body {
   display: flex;
   justify-content: space-between;
   gap: 40px;
}
.footer__body:not(:last-child) {
   margin-bottom: 94px;
}
.footer__title {
   font-size: 100px;
   line-height: 0.9;
   color: var(--text-primary);
}
.footer__title:not(:last-child) {
   margin-bottom: 10px;
}
.footer__subtitle {
   font-size: 18px;
   line-height: 1.6;
   margin-left: 16.771488%; /* 80/477 */
}
.menu-footer__title {
   text-transform: uppercase;
   color: var(--text-primary);
   font-size: 30px;
   line-height: 1.2;
}
.menu-footer__title:not(:last-child) {
   margin-bottom: 50px;
}
.menu-footer__item:not(:last-child) {
   margin-bottom: 20px;
}
.menu-footer__link {
   font-size: 18px;
   line-height: 1.6;
   transition: color 0.3s;
}
.menu-footer__link:hover {
   color: var(--text-primary);
}

@media (max-width: 991.98px){
   .footer {
      padding-bottom: 30px;
   }
   .footer__title {
      font-size: 70px;
   }
   .footer__body:not(:last-child) {
      margin-bottom: 50px;
   }
   .menu-footer__title:not(:last-child) {
      margin-bottom: 30px;
   }
}
@media (max-width: 767.98px){
   .footer {
      padding-bottom: 15px;
   }
   .footer__body {
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .footer__body:not(:last-child) {
      margin-bottom: 40px;
   }
   .menu-footer__title:not(:last-child) {
      margin-bottom: 15px;
   }
   .footer__content {
      flex-grow: 1;
      width: 100%;
      text-align: center;
   }
   .footer__subtitle {
      margin-left: 0;
   }
   .menu-footer__title {
   text-transform: uppercase;
   font-size: 20px;
   }
}
@media (max-width: 479.98px){
   .footer__title {
      font-size: 50px;
   }
}

