.reviews__container {
   display: flex;
   align-items: flex-start;
   position: relative;
   gap: 50px;
}
.reviews__content > * {
   margin-bottom: 16px;
}
.reviews__content {
   position: sticky;
   top: 140px;
   flex: 1 1 650px;
}
.reviews__title {
   text-transform: uppercase;
}
.reviews__title span {
   color: var(--text-primary);
   text-transform: none;
}
.reviews__subtitle {
   font-size: 30px;
   line-height: 1.2;
   text-transform: uppercase;
   margin-bottom: 48px;
}
.reviews__subtitle span {
   color: var(--text-primary);
}
.reviews__content > *:last-child {
   margin-bottom: 0px;
}
.reviews__items {
   flex: 1 1 700px;
}
.reviews__item:not(:last-child) {
   border-bottom: 1px solid var(--border-default);
   margin-bottom: 96px;
   padding-bottom: 96px;
}
.item-reviews {
   display: flex;
   gap: 45px;
   align-items: flex-start;
}
.item-reviews__picture{
   aspect-ratio: 1;
   width: 120px;
   flex-shrink: 0;
}
.item-reviews__avatar {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.item-reviews__body > * {
   margin-bottom: 24px;
}
.item-reviews__title {
   font-size: 30px;
   line-height: 1.2;
   padding-left: 80px;
   min-height: 50px;
   background: url("../img/icons/review.svg") left no-repeat;
}

.item-reviews__text {
   margin-bottom: 40px;
}
.item-reviews__text p{
   line-height: 1.6;
}
.item-reviews__text p:not(:last-child){
   margin-bottom: 15px;
}
.item-reviews__author {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 0 10px;
   font-size: 14px;
   line-height: 1.6;
}
.item-reviews__author span {
   display: flex;
   align-items: center;
   gap: 10px;
}
.item-reviews__author span:not(:last-child)::after {
   content: '';
   background-color: var(--text-default);
   height: 1px;
   width: 18px;
}
.item-reviews__body > *:last-child {
   margin-bottom: 0;
}

@media (max-width: 1430px) {
   .reviews__content {
      flex: 1 1 550px;
   }
   .reviews__items {
      flex: 1 1 800px;
   }
   .reviews__subtitle {
      font-size: 22px;
   }
   .item-reviews__title {
      font-size: 22px;
   }
   .reviews__item:not(:last-child) {
      margin-bottom: 55px;
      padding-bottom: 55px;
   }
}
@media (max-width: 991.98px) {
   .reviews__container {
      flex-direction: column;
      gap: 40px;
   }
   .reviews__content {
      flex: 1 1 auto;
   }
   .reviews__items {
      flex: 1 1 auto;
   }
   .reviews__title br,
   .reviews__subtitle {
      display: none;
   }
   .reviews__item:not(:last-child) {
      margin-bottom: 30px;
      padding-bottom: 30px;
   }
   .item-reviews__body > * {
      margin-bottom: 16px;
   }
   .item-reviews__text {
      margin-bottom: 20px;
   }
   .reviews__subtitle {
      margin-bottom: 25px;
   }
   .reviews__content {
   position: static;
   }
}
@media (max-width: 479.98px) {
   .reviews__subtitle {
      font-size: 18px;
   }
   .item-reviews {
      gap: 20px;
   }
   .item-reviews__title {
      font-size: 18px;
      padding-left: 35px;
      min-height: 20px;
      background: url("../img/icons/review.svg") 0 0 / 20px no-repeat;
   }
   .reviews__button {
      width: 100%;
   }
   .item-reviews__picture{
      aspect-ratio: 1;
      width: 70px;
      flex-shrink: 0;
   }
}

